<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        <a href="https://api.mangadex.org/docs/" target="_blank">Using MangaDexAPI</a>
        <a href="https://github.com/MasterGar1" target="_blank">Gavril Hristov</a>
    </div>
</body>
</html>