{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<div class="manga-details">
    <div class="manga-cover-wrapper">
        <img src="{{ url_for('user.image_proxy', url=manga.cover()) }}" alt="{{ title }} cover" class="manga-cover">
    </div>
    <div class="manga-info">
        <h2>{{ manga.title }}</h2>
        <p>{{ manga.description }}</p>
        <div class="manga-tags">
            {% for tag in manga.tags %}
                <span class="tag-box">{{ tag }}</span>
            {% endfor %}
        </div>
        <div class="chapter-list">
            <h3>Chapters</h3>
            {% for chapter in manga.chapters() %}
                <a href="{{ url_for('user.read', manga=manga.id, chapter=chapter.id) }}">Volume {{ chapter.volume }}, Chapter {{ chapter.number }}</a>
            {% endfor %}
        </div>
        {% if 'search' in request.referrer %}
            <a href="{{ url_for('search.search_home') }}">Back to Search</a>
        {% elif 'library' in request.referrer %}
            <a href="{{ url_for('user.library') }}">Back to Library</a>
        {% else %}
            <a href="{{ url_for('home') }}">Back to Home</a>
        {% endif %}
    </div>
</div>
{% endblock %}