{% extends 'base.html' %}

{% block body %}
<div class="chapter-title">
    <h3>{{ chapter.title }}</h3>
</div>
<div class="image-container">
    {% for img in chapter.images() %}
    <div class="image-wrapper">
        <img src="{{ url_for('user.image_proxy', url=img) }}" alt="Manga Image" style="display: block; width: 100%;">
    </div>
    {% endfor %}
</div>
<div class="chapter-controls">
    {% if not prev is none %}
        <a href="{{ url_for('user.read', manga=manga, chapter=prev.id) }}">Prev</a>
    {% endif %}
    {% if not next is none %}
        <a href="{{ url_for('user.read', manga=manga, chapter=next.id) }}">Next</a>
    {% endif %}
</div>
<a href="{{ url_for('user.manga_info', id=manga) }}">Back</a>
{% endblock %}